content {
  max-width: 1600px;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
}
nav a {
  text-align: center;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
}
body {
  background-color: #9fddff
}
header {
  background-color: #3d7068
}
nav a:hover {
  background-color: #48beff
}
.book {
  background-color: #43C59E
}
.join {
  background-color: #43C59E
}
.book:hover {
  background-color: #48beff
}
.join:hover {
  background-color: #48beff
}
#background {
  background-color: #9fddff
}
.msg {
  background-color: #3d7068
}
footer {
  background-color: #3d7068
}
nav a {
  color: #3d7068
}
nav a:hover {
  color: #ffffff
}
.home-title {
  color: #000000
}
h4 {
  color: #000000
}
.book {
  color: #000000
}
.join {
  color: #3d7068
}
.book:hover {
  color: #3d7068
}
.join:hover {
  color: #3d7068
}
.msg h2 {
  color: #000000
}
.msg p {
  color: #000000
}
footer h3 {
  color: white
}
footer a {
  color: #000000
}
footer a:hover {
  color: #48beff
}
nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
} 
.book {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}    
.join {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer h3 a:hover {
  text-align: center;
  color: #fcfbfb;
  text-decoration: underline;
}    